.telefono {
    width: 100%;
    height: 100vh;
    display: grid;
    left: 0;
    margin: auto;
    grid-template-rows: 8.1rem 25.4rem 55.5rem;
    background-color: var(--color4);
}
.header{
    margin-top: 4.2rem;
}
.regresar{
    width: 6.8rem;
    height: 2.3rem;
}
.titulo-header{
    width: 13.6rem;
    height: 3rem;
    font-size: 2rem;
    padding-left: 6.1rem;
    font-weight: bold;
}
.grafico{
    padding-top: 3.3rem;    
    justify-self: center;
}
.circulo{
    width: 20.5rem;
    height: 19.4rem;
    border: 0.9rem solid var(--color1);
    border-radius: 36rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.total{
    font-size: 2rem;
    padding-left: 7.1rem;
}
.total2{
    padding-left: 3.3rem;
}
.total-numeros{
    font-size: 2.9rem;
}
.total-img{
    width: 3.8rem;
    height: 3.2rem;
}
.datos{
    background-color: var(--color2);
    width: 41.1rem;
}
.botones{
    display: flex;
    justify-content: space-around;
    padding-top: 3.4rem;
}
.bloquear{
    display: flex;
    flex-direction: column;
}
.bloquear-img{
    width: 6.4rem;
    height: 5.7rem;
    background-color: var(--color3);
    border-radius: 0.6rem;
}
.bloquear-img img{
    width: 4rem;
    height: 4rem;
    margin-top: 0.9rem;
    margin-left: 1.2rem;
}
.bloquear span{
    margin: auto;
    font-size: 1.2rem;
}
.graficoPie{
    display: flex;
    flex-direction: column;
}
.graficoPie-img{
    width: 6.4rem;
    height: 5.7rem;
    background-color: var(--color1);
    border-radius: 0.6rem;
}
.graficoPie-img img{
    width: 4rem;
    height: 4rem;
    margin-top: 0.9rem;
    margin-left: 1.2rem;
}
.graficoPie span{
    margin: auto;
    font-size: 1.2rem;
}
.flechas{
    display: flex;
    flex-direction: column;
}
.flechas-img{
    width: 6.4rem;
    height: 5.7rem;
    background-color: var(--color3);
    border-radius: 0.6rem;
}
.flechas-img img{
    width: 4rem;
    height: 4rem;
    margin-top: 0.9rem;
    margin-left: 1rem;
}
.flechas span{
    margin: auto;
    font-size: 1.2rem;
}
.titulo-datos{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2.3rem;
    padding-top: 2.6rem;
    margin-bottom: 1.1rem;
}
.precios{
    display: grid;
    grid-template-rows: 7.6rem 9.5rem 9.5rem 9.5rem;
    margin-left: 3.7rem;
    width: 31.2rem;
}
.precios1{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--color1);
}
.img1{
    width: 5.3rem;
    height: 5.3rem;
    background-color: var(--color3);
    border-radius: 0.6rem;
}
.imgPrecio1{
   width: 3.6rem;
   height: 3.6rem;
   margin-top: 0.9rem;
   margin-left: 0.9rem;
}
.texto1{
    display: flex;
    flex-direction: column;
    padding-left: 2.6rem;
    padding-top: 0.8rem;
    font-size: 1.2rem;
}
.textoPrecio1{
    display: flex;
    flex-direction: row;
}
.textoPrecio1 .titulo-precio1{
    padding-right: 15.3rem;
    font-weight: bold;
}

.precios2{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--color1);
    margin-top: 2.2rem;
}
.img2{
    width: 5.3rem;
    height: 5.3rem;
    background-color: var(--color3);
    border-radius: 0.6rem;
}
.imgPrecio2{
   width: 3.6rem;
   height: 3.6rem;
   margin-top: 0.9rem;
   margin-left: 0.9rem;
}
.texto2{
    display: flex;
    flex-direction: column;
    padding-left: 2.6rem;
    padding-top: 0.8rem;
    font-size: 1.2rem;
}
.textoPrecio2{
    display: flex;
    flex-direction: row;
}
.textoPrecio2 .titulo-precio2{
    padding-right: 15.3rem;
    font-weight: bold;
}
.textoPrecio2 .titulo-precio3{
    padding-right: 20rem;
    font-weight: bold;
}
.textoPrecio2 .titulo-precio4{
    padding-right: 17.5rem;
    font-weight: bold;
}
/* CSS QUE SOLO FUNCIONA EN UN TELEFONO de 480px*/
@media screen and (max-width: 480px) {
    .telefono {
        height: 100%;
        position: absolute;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}